Repository kierdavis/underglow: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-md, format-nix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-md
        name: Format markdown
        types: [markdown]
        language: system
        entry: rumdl check --fix

      - id: format-nix
        name: Format nix
        types: [nix]
        language: system
        entry: alejandra

add rust cross-compiler to dev shell
  flake.lock
  flake.nix
Due: format-nix

write about installing rust with cross-compilation support
  doc/story/toolchain.md
Due: format-md

initialise main firmware crate from cortex-m-quickstart template
  firmware/.gitignore
  firmware/underglow-fw/.cargo/config.toml
  firmware/underglow-fw/Cargo.toml
  firmware/underglow-fw/build.rs
  firmware/underglow-fw/memory.x
  firmware/underglow-fw/src/main.rs
Due: none

update crate metadata after importing from template
  firmware/underglow-fw/Cargo.toml
Due: none

select correct target platform after importing from template
  firmware/underglow-fw/.cargo/config.toml
Due: none

set correct memory layout for target platform after importing from template
  firmware/underglow-fw/memory.x
Due: none

update to latest Rust edition
  firmware/underglow-fw/Cargo.toml
Due: none

remove cortex-m-semihosting dependency (for now)
  firmware/underglow-fw/Cargo.toml
Due: none

remove comments that aren't relevant
  firmware/underglow-fw/.cargo/config.toml
  firmware/underglow-fw/Cargo.toml
  firmware/underglow-fw/src/main.rs
Due: none

set up Cargo workspace
  firmware/Cargo.toml
  firmware/underglow-fw/Cargo.toml
Due: none

first ever build
  firmware/Cargo.lock
Due: none

use same list formatting symbol as README
  doc/story/toolchain.md
Due: format-md

write about firmware crate creation and first build
  .rumdl.toml
  doc/story/toolchain.md
Due: format-md

add arm-eabi-none binutils to devenv
  flake.nix
Due: format-nix

init rust formatter
  .pre-commit-config.yaml
  .rustfmt.toml
  firmware/underglow-fw/build.rs
  firmware/underglow-fw/src/main.rs
  flake.nix
Due: format-nix

prefer to build from the workspace directory, for simplicity
  doc/story/toolchain.md
  firmware/.cargo/config.toml
Due: format-md

add bossa to dev shell
  flake.nix
Due: format-nix

use a realistic shell prompt in the docs
  doc/story/toolchain.md
Due: format-md

write about tooling for uploading to the board
  doc/assets/board_doing_nothing.jpg
  doc/story/toolchain.md
Due: format-md

remove nix dev shell prefix from code snippets
  doc/story/toolchain.md
Due: format-md

fix markdown rendering
  doc/story/toolchain.md
Due: format-md

spec out future sections
  doc/story/toolchain.md
Due: format-md

reword
  doc/story/toolchain.md
Due: format-md

ensure dev shell dependencies are in nix cache
  flake.nix
Due: format-nix

tidy imports
  firmware/underglow-fw/src/main.rs
Due: none

demo program: introduce application logic
  firmware/underglow-fw/src/main.rs
Due: none

demo program: introduce mapping of colours to GPIO pin states
  firmware/underglow-fw/src/main.rs
Due: none

demo program: introduce mapping of GPIO pin names to numbers
  firmware/underglow-fw/src/main.rs
Due: none

demo program: introduce OUTSET & OUTCLR register addresses
  firmware/underglow-fw/src/main.rs
Due: none

demo program: introduce volatile-register
  firmware/Cargo.lock
  firmware/underglow-fw/Cargo.toml
  firmware/underglow-fw/src/main.rs
Due: none

write about the state of the demo program so far
  doc/assets/nrf_gpio0_instantiation.png
  doc/assets/nrf_gpio_out_registers.png
  doc/assets/onboard_led_pin_map.png
  doc/story/toolchain.md
Due: format-md
